/* Typography
------------------- */

@font-face {
	font-family:'ProximaNova-Black';
	src: url('fonts/ProximaNova-Black.eot');
	src: url('fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Black.woff') format('woff'),
		url('fonts/ProximaNova-Black.ttf') format('truetype'),
		url('fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold.eot');
	src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Bold.woff') format('woff'),
		url('fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

/* Base Style
------------------- */

html { font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc;text-shadow: none;
}
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* App Style
------------------- */

body {
	background: #4e2c20;
	font-size: 16px;
	overflow: hidden;
}

.wrap {
	padding: 3em 0 0 12em;
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.logo {
	font-family:'ProximaNova-Black';
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 6.5em;
	-webkit-transform-origin: center center;
	-webkit-transform: rotate(-7deg) skew(-7deg); /* fix: add prefix later */
	letter-spacing: -0.01em;
	text-align: center;
}

.strike {
	text-align: center;
	color: #ff506d;
	display: block;
	text-indent: 3em;
	line-height: 0.4em;
}

.persona {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 90%;
	z-index: -1;
}

.button {
	font-family:'ProximaNova-Bold';
	display:block;
	padding: 1.1em 2em 1.1em 2em;
	width: 12em;
	margin: 2em auto 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background:#ff1660;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	position:relative;
	border-radius: 3px;
}

.result-screen { display:  none; } /* Debug */

/* Svg control */
#arm, #hand, #plate { display: none; }



/* MEDIA QUERIES - FIX
------------------- */

@media (max-width: 1100px) {
 	body { font-size: 14px; }
}

@media (max-width: 960px) {
 	body { font-size: 12px; }
}

@media (max-width: 768px) {
	.logo { font-size: 3em;  }
 	.wrap { padding-left: 0; width: 90%; }
}

@media only screen and (max-width : 320px) {
	.persona { width: 120% }
	.wrap { padding-left: 2em; position: fixed; }
	#arm, #hand, #plate { display: block }
}

/* CELULAR PORTRAIT */
@media only screen and (min-width : 321px) and (max-width : 420px) { 
	.persona { width: 50% }
}