/*------------------------------------------
	Gourmet Strike

	1 - Base Style
	2 - Title Screen
	3 - Result Screen
	4 - About
	5 - Media Queries
	6 - Animations

------------------------------------------*/

@font-face {
	font-family:'ProximaNova-Black';
	src: url('../fonts/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black.ttf') format('truetype'),
		url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}



/*------------------------------------------
/* 1 - BASE STYLE
/*------------------------------------------*/

html { font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc;text-shadow: none;
}
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body { min-height: 100%; }

body {
	background: #4e2c20;
	font-size: 16px;
	overflow: hidden;
}

.persona {
	position: fixed;
	z-index: -1;
}

/* BUTTON */
.button {
	font-family:'ProximaNova-Bold';
	display:block;
	padding: 1.1em 2em 1.1em 2em;
	width: 12em;
	margin: 4em auto 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background:#ff506d;
	text-align: center;
	font-size: 1.4em;
	letter-spacing: 0.05em;
	position:relative;
	border-radius: 3px;
	opacity: 0;

	-webkit-animation: button-fadein .35s .25s 1 ease-in forwards;
	-moz-animation: button-fadein .35s .25s 1 ease-in forwards;
	-ms-animation: button-fadein .35s .25s 1 ease-in forwards;
	-o-animation: button-fadein .35s .25s 1 ease-in forwards;
	animation: button-fadein .35s .25s 1 ease-in forwards;
}

.button:before, .button:after {
  content:"";
  background:#51291b;
  height:4px;
  position: absolute;
  bottom: 0.5em;
  border-radius: 5px;
  width: 0;

  transition: all 100ms cubic-bezier(0.250, 0.250, 0.100, 1.140);
  -moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.100, 1.140);
  -ms-transition: all 100ms cubic-bezier(0.250, 0.250, 0.100, 1.140);
  -o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.100, 1.140);
  transition: all 100ms cubic-bezier(0.250, 0.250, 0.100, 1.140);
}

.button:before { left: -5px; }
.button:after { left: 10px; }
.button:hover::before { width: 8em; }
.button:hover::after { left:8em; width: 0.8em; }

/*------------------------------------------
/* 2 - TITLE SCREEN
/*------------------------------------------*/

.wrap {
	padding: 3em 0 0 12em;
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.title-screen .persona {
	bottom: -100%;
	left: 20%;
	width: 60%;
	-webkit-animation: chef-intro .75s .35s 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-moz-animation: chef-intro .75s .35s 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-ms-animation: chef-intro .75s .35s 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-o-animation: chef-intro .75s .35s 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	animation: chef-intro .75s .35s 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
}


/* Logo */
.gourmet, .strike {
	font-family:'ProximaNova-Black';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3.25em;

	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;

	-webkit-transform: rotate(-7deg) skew(-7deg);
	-moz-transform: rotate(-7deg) skew(-7deg);
	-ms-transform: rotate(-7deg) skew(-7deg);
	-o-transform: rotate(-7deg) skew(-7deg);
	transform: rotate(-7deg) skew(-7deg);

	letter-spacing: -0.01em;
	text-align: center;
	display: block;
}

.gourmet {
	color: #fff;
	-webkit-animation: text-gourmet .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-moz-animation: text-gourmet .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-ms-animation: text-gourmet .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-o-animation: text-gourmet .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation: text-gourmet .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.strike {
	color: #ff506d;
	text-indent: 3em;
	line-height: 0.4em;
	-webkit-animation: text-strike .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-moz-animation: text-strike .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-ms-animation: text-strike .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-o-animation: text-strike .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation: text-strike .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* Animtion Class */
.fadeOut {
	-webkit-animation: fadeOut .35s .1s 1 ease-in forwards;
	-moz-animation: fadeOut .35s .1s 1 ease-in forwards;
	-ms-animation: fadeOut .35s .1s 1 ease-in forwards;
	-o-animation: fadeOut .35s .1s 1 ease-in forwards;
	animation: fadeOut .35s .1s 1 ease-in forwards;
}


/*------------------------------------------
/* 3 - RESULT SCREEN
/*------------------------------------------*/

.result-screen {
	display:  none;
	margin-left: 10%;
}

.result-screen .persona {
	bottom: 0%;
	right: 0%;
	width: 40%;
	display: block;
	-webkit-animation: chef-result .75s 0 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-moz-animation: chef-result .75s 0 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-ms-animation: chef-result .75s 0 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	-o-animation: chef-result .75s 0 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
	animation: chef-result .75s 0 1 cubic-bezier(0.555, -0.200, 0.260, 1.315) forwards;
}

.complain {
	font-family:'ProximaNova-Bold';
	color: #fff;
	text-transform: uppercase;
	font-size: 5em;
	line-height: 1em;
	width: 70%;
	height: 370px;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;

	-webkit-transform: rotate(-3deg) skew(-3deg);
	-moz-transform: rotate(-3deg) skew(-3deg);
	-ms-transform: rotate(-3deg) skew(-3deg);
	-o-transform: rotate(-3deg) skew(-3deg);
	transform: rotate(-3deg) skew(-3deg);
}

#expression { display: block; } /*Because firefox animation */

.hash-complain {
	display: inline-block;
	font-size: 0.5em;
	background: #fff;
	color: #4e2c20;
	padding: 0.2em 0.5em 0.1em 0.5em;
	line-height: 1.2em;
	margin-bottom: 0.3em;
}


.retry, .tweet {
	margin: 0;
	font-size: 1em;
	display: inline-block;
}

.tweet {
	margin-left: 1em;
	background: #55acee;
}

.instruction {
	color: #784533;
	font-style: italic;
}

/* Animtion Class */
.pulse {
	-webkit-animation: pulse .2s 1 ease-in forwards;
	-moz-animation: pulse .2s 1 ease-in forwards;
	-ms-animation: pulse .2s 1 ease-in forwards;
	-o-animation: pulse .2s 1 ease-in forwards;
	animation: pulse .2s 1 ease-in forwards;
}

.chef-out {
	-webkit-animation: chef-out .75s 1 ease-in forwards !important;
	-moz-animation: chef-out .75s 1 ease-in forwards !important;
	-ms-animation: chef-out .75s 1 ease-in forwards !important;
	-o-animation: chef-out .75s 1 ease-in forwards !important;
	animation: chef-out .75s 1 ease-in forwards !important;
}

/*------------------------------------------
/* 4 - ABOUT
/*------------------------------------------*/

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(240,85,110,1);
}

.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);

	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-o-transition: -o-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.overlay-close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: 18px;
  right: 30px;
  text-indent: -9999px;
}

.overlay-close:before, .overlay-close:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    height: 12px;
    margin-top: -6px;
    border-radius: 5px;
    background: #fff;
    transition: background 150ms ease-out;
    -moz-transition: background 150ms ease-out;
	-ms-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	transition: background 150ms ease-out;
}

.overlay-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.overlay-close:after {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.overlay-close:hover::before , .overlay-close:hover::after{
	background: #784533;
}


/* Intern */
.about {
	position: absolute;
	top: 18px; right: 18px;
	color: #cba294;
	font-size: 0.9em;
	font-family:'ProximaNova-Regular';
}

.about a {
	color: #bc978a;
	position: relative;
	text-decoration: none;
}

.about a:before, .about a:after {
  content:"";
  background:#bc978a;
  height:1px;
  position: absolute;
  bottom: -0.18em;
  border-radius: 3px;
  transition: width 100ms ease-out;
	-moz-transition: width 100ms ease-out;
	-ms-transition: width 100ms ease-out;
	-o-transition: width 100ms ease-out;
	transition: width 100ms ease-out;
}

.about a:before { width: 3.8em; }
.about a:after { left: 4.1em; width: 0.6em; }
.about a:hover::before, .about a:hover::after { width: 0em; }
.about a:hover::after {  left: 0em; }

.readme {
	width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -150px;
}

.readme p {
	color: #4e2c20;
	font-family:'ProximaNova-Regular';
	line-height: 1.6em;
}

.readme p strong { font-family:'ProximaNova-Bold'; }

/* A special hover */
.readme p a { color: #4e2c20; position: relative;
text-decoration: none; }

.readme a:before, .readme a:after {
  content:"";
  background:#4e2c20;
  height:1px;
  position: absolute;
  bottom: -0.10em;
  border-radius: 3px;
  transition: width 100ms ease-out;
	-moz-transition: width 100ms ease-out;
	-ms-transition: width 100ms ease-out;
	-o-transition: width 100ms ease-out;
	transition: width 100ms ease-out;
}

.readme a:before { width: 70%; }
.readme a:after { left: 75%; width: 25%; }
.readme a:hover::before, .readme a:hover::after { width: 0%; }
.readme a:hover::after { left: 0em; }


/*------------------------------------------
/* 5 - MEDIA QUERIES
/*------------------------------------------*/

@media (max-width: 1100px) {
 	body { font-size: 14px; }
}

@media (max-width: 960px) {
 	body { font-size: 12px; }
}

/* CELULAR COMMON FEATURES */
@media only screen and (max-width : 767px) {
  .wrap {
    padding-left: 0; 
    padding-top: 10em; 
    position: fixed; 
    font-size: .65em; 
  }
  .wrap h1 { margin-left: -2em; }
  .button { font-size: 1.85em;}
  .about { right: 0; width: 100%; text-align: center; }
}

/* CELULAR PORTRAIT ( < 375 ) */
@media only screen and (max-width : 375px) {
  .wrap { width: 100%; }
  .title-screen .persona { width: 160%; left: -20% }
	#arm, #hand, #plate { display: block }  
}
/* CELULAR LAND ( 376 < 767 ) */
@media only screen and (min-width : 376px) and (max-width : 767px) {
  .wrap { width: 70%; right: 0; }
  .title-screen .persona { width:90%; left: 2%; }
  #arm, #hand, #plate { display: none }
}

/*------------------------------------------
/* 6 - ANIMATIONS KEYFRAMES
/*------------------------------------------*/

/* Button Intro Fade In */
@-webkit-keyframes button-fadein {
	to { opacity: 1; }
}
@-moz-keyframes button-fadein {
	to { opacity: 1; }
}
@keyframes button-fadein {
	to { opacity: 1; }
}

/* Logo Intro Animations */
@-webkit-keyframes text-gourmet {
  0%   { text-indent: -20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 0; }
}

@-webkit-keyframes text-strike {
  0%   { text-indent: 20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 3em; }
}
@-moz-keyframes text-gourmet {
  0%   { text-indent: -20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 0; }
}

@-moz-keyframes text-strike {
  0%   { text-indent: 20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 3em; }
}
@keyframes text-gourmet {
  0%   { text-indent: -20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 0; }
}

@keyframes text-strike {
  0%   { text-indent: 20em; opacity:0; }
  3%  { opacity: 0; }
  25%  { opacity: 1; }
  100% { text-indent: 3em; }
}

/* Illustration Intro Animations */
@-webkit-keyframes chef-intro {
	0% { bottom: -100%; }
	100% { bottom: -4%; }
}
@-webkit-keyframes chef-out {
	0% { bottom: -4%; }
	100% { bottom: -100%; }
}
@-webkit-keyframes chef-result {
	0% { right: -100%; }
	100% { right: 0%; }
}

@-moz-keyframes chef-intro {
	0% { bottom: -100%; }
	100% { bottom: -4%; }
}
@-moz-keyframes chef-out {
	0% { bottom: -4%; }
	100% { bottom: -100%; }
}
@-moz-keyframes chef-result {
	0% { right: -100%; }
	100% { right: 0%; }
}

@keyframes chef-intro {
	0% { bottom: -100%; }
	100% { bottom: -4%; }
}
@keyframes chef-out {
	0% { bottom: -4%; }
	100% { bottom: -100%; }
}
@keyframes chef-result {
	0% { right: -100%; }
	100% { right: 0%; }
}

/* Chage Text */
@-webkit-keyframes pulse {
  0% {
  		-webkit-transform: scale3d(1, 1, 1);
  		-moz-transform: scale3d(1, 1, 1);
    	transform: scale3d(1, 1, 1);
  }

  50% {
  		-webkit-transform: scale3d(1.05, 1.05, 1.05);
  		-moz-transform: scale3d(1.05, 1.05, 1.05);
    	transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
  		-webkit-transform: scale3d(1, 1, 1);
  		-moz-transform: scale3d(1, 1, 1);
    	transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
  		-webkit-transform: scale3d(1, 1, 1);
  		-moz-transform: scale3d(1.05, 1.05, 1.05);
    	transform: scale3d(1, 1, 1);
  }

  50% {
  		-webkit-transform: scale3d(1.05, 1.05, 1.05);
  		-moz-transform: scale3d(1.05, 1.05, 1.05);
    	transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
  		-webkit-transform: scale3d(1, 1, 1);
  		-moz-transform: scale3d(1.05, 1.05, 1.05);
    	transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}